<div class="sidenav">
  <div class="head">
    <%= render 'components/logo' %>
  </div>

  <div class="content">
    <a href="#"><div class="MainAction">Ressources Humaines</div></a>
    <%= link_to adherents_path do %><div class="SecAction">Gestion Etudiants</div><% end %>
    <a href="#"><div class="MainAction">Relations Clients</div></a>
    <%= link_to etudes_path do %><div class="SecAction">Gestion Etudes</div><% end %>
    <%= link_to etudes_path do %><div class="SecAction">Notation Interv</div><% end %>
    <%= link_to etudes_path do %><div class="SecAction">Sous-Traitants</div><% end %>
    <a href="#"><div class="MainAction">Configuration</div></a>
    <%= link_to documents_path do %><div class="SecAction">Documents Types</div><% end %>
  </div>



  <div class="foot">
    <div><%= link_to "Mon Compte", "#", :class => 'deco'%></div>
    <div><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :class => 'deco'%></div>
  </div>
  <div class="version">
    <div>Beta 1.1</div>
  </div>
</div>