

<div class="main">
    <h1>Gestion des étudiants</h1>
    <div class="cartesEtu">
        <% @adherents.each do |adherent| %>
            <%= link_to adherent_path(adherent) do %>
                    <div class="carte">
                        <div class="titre">
                            <div class="texte">
                                <div><%= adherent.prenom %></div>
                                <div><%= adherent.nom %></div>
                            </div>
                            <div class="icone"><span><%= link_to adherent_path(adherent), method: :delete do %><i class="far fa-trash-alt delete"></i><% end %></span></div>
                        </div>
                        <div class="documents">
                            <% if adherent.cvec == true %><div class="docvert">cvec</div><% else %><div class="docrouge">cvec</div><% end %>
                            <% if adherent.carte_identite == true %><div class="docvert">ID</div><% else %><div class="docrouge">ID</div><% end %>
                            <% if adherent.carte_vital == true %><div class="docvert">CarteVitale</div><% else %><div class="docrouge">CarteVitale</div><% end %>
                            <% if adherent.certificat_scolarite == true %><div class="docvert">CertifScol</div><% else %><div class="docrouge">CertifScol</div><% end %>
                            <% if adherent.ba == true %><div class="docvert">BA</div><% else %><div class="docrouge">BA</div><% end %>
                            <% if adherent.cotisation == true %><div class="docvert">Cotisation</div><% else %><div class="docrouge">Cotisation</div><% end %>
                        </div>
                    </div>
            <% end %>
        <% end %>
    </div>

    <%= link_to new_adherent_path do %>
        <div> Nouveau Adhérent <i class="fas fa-plus-circle"></i></div>
    <% end %>
</div>