<div class="main">
    <div class="container">
        <div class="formcontainer">
            <%= simple_form_for(@adherent) do |f| %>
                <div class="formulaire">
                    <div class="Categorie">
                        <div class="Titre">Informations sur l'étudiant :</div>
                        <div class="Contenu">
                            <div class="part">
                                <div class="item2"><%= f.input :prenom %></div>
                                <div class="item2"><%= f.input :nom %></div>
                            </div>
                            <div class="part">
                                <div class="item2"><%= f.input :mail, placeholder: 'user@domain.com', label: "Adresse Electronique :" %></div>
                                <div class="item2"><%= f.input :telephone, placeholder: '+33 6 99 99 99 99', label: "Numéro de Téléphone :" %></div>
                            </div>
                            <div class="part">
                                <div class="item3"><%= f.input :adresse, placeholder: '48 rue de varenne', label: "Adresse Postale :" %></div>
                                <div class="item3"><%= f.input :codepostal, placeholder: '75007', label: "Code Postal :" %></div>
                                <div class="item3"><%= f.input :ville, placeholder: 'Paris', label: "Ville :" %></div>
                            </div>
                            <div class="part">
                                <%= f.input :master, as: :boolean, checked_value: true, unchecked_value: false, label: "Niveau d'étude 'Master'" %>
                            </div>
                        </div>
                    </div>

                    <div class="Categorie">
                        <div class="Titre">Données Sociales :</div>
                        <div class="Contenu">
                            <div class="part">
                                <div class="item2"><%= f.input :date_naissance, as: :date, html5: true, label: "Date de Naissance :" %></div>
                                <div class="item2"><%= f.input :numero_securite_social, placeholder: '1 99 99 99 999 99', label: "Numéro de Sécurité Social :" %></div>
                            </div>
                            <div class="part">
                                <div class="item2"><%= f.input :commune_naissance, placeholder: 'Neuilly_sur_Seine', label: "Communie de Naissance :" %></div>
                                <div class="item2"><%= f.input :codepostal_naissance, placeholder: '92300', label: "Code Postal :" %></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="Categorie">
                        <div class="Titre">Données Fiscales :</div>
                        <div class="Contenu">
                            <div class="part">
                                <div class="item3"><%= f.input :nom_banque, placeholder: 'Société Générale' %></div>
                                <div class="item3"><%= f.input :iban, placeholder: 'FR76 1234 5123 4512 3456 7891 A12' %></div>
                                <div class="item3"><%= f.input :bic, placeholder: 'ABCDEFGH' %></div>
                            </div>
                        </div>
                    </div>

                    <div class="Categorie">
                        <div class="Titre">Documents Obligatoires :</div>
                        <div class="Contenu">
                            <div class="partbool">   
                                <%= f.input :carte_identite, as: :boolean, checked_value: true, unchecked_value: false, label: "Carte d'Identité" %>
                                <%= f.input :carte_vital, as: :boolean, checked_value: true, unchecked_value: false, label: "Carte Vitale" %>
                                <%= f.input :certificat_scolarite, as: :boolean, checked_value: true, unchecked_value: false, label: "Certificat de Scolarité" %>
                                <%= f.input :cvec, as: :boolean, checked_value: true, unchecked_value: false, label: "CVEC" %>
                                <%= f.input :ba, as: :boolean, checked_value: true, unchecked_value: false, label: "Bulletin d'Adhésion Signé" %>
                                <%= f.input :cotisation, as: :boolean, checked_value: true, unchecked_value: false, label: "Cotisation" %>
                            </div>
                        </div>
                    </div>

                    <div class="Categorie">
                        <div class="Titre">Si l'étudiant est Administrateur :</div>
                        <div class="Contenu">
                            <div class="partbool">
                                <%= f.input :membre, as: :boolean, checked_value: true, unchecked_value: false, label: "Administrateur de la structure" %>
                                <%= f.input :alumni_ejc, as: :boolean, checked_value: true, unchecked_value: false, label: "Alumni de la Structure" %>
                                <%= f.input :demission, as: :boolean, checked_value: true, unchecked_value: false, label: "Demissionn de la Structure" %>
                            </div>
                            <div class="part">
                                <div class="item4"><%= f.input :annee_mandat, placeholder: '2019-2020' %></div>
                                <div class="item4"><%= f.input :campus, placeholder: 'Paris' %></div>
                                <div class="item4"><%= f.input :pole, placeholder: 'Marketing' %></div>
                                <div class="item4"><%= f.input :poste, placeholder: "Directeur des Systèmes d'Information" %></div>
                            </div>
                        </div>
                    </div>


                    <%= f.submit "Creer un Etudiant", id: "Creation" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
