<div class="main">
    <h1>Gestion des études</h1>
    <%= link_to new_etude_path do %>
        <div> Nouveau etude <i class="fas fa-plus-circle"></i></div>
    <% end %>
    <div class="tableau">
        <div class="headline">
            <div class="colone"><%= "Référence" %></div>
            <div class="colone"><%= "Type" %></div>
            <div class="colone"><%= "Date CE/PC" %></div>
            <div class="colone"><%= "Statut" %></div>
            <div class="colone"><%= "Prestation" %></div>
            <div class="colone"><%= "Nbre Av" %></div>
            <div class="colone"><%= "JEH" %></div>
            <div class="colone"><%= "Budget HT" %></div>
            <div class="colone"><%= "Frais HT" %></div>
            <div class="colone"><%= "Budget Total" %></div>
        </div>
        <div class="mainline">
            <% @etudes.each do |etude| %>
                <%= link_to etude_path(etude) do %>
                        <div class="ligne">
                            <div class="colone"><%= etude.references %> <%= etude.nom %></div>
                            <div class="colone"><%= etude.type_client %></div>
                            <div class="colone"><%= etude.date_convetu %></div>
                            <div class="colone"><%= etude.statut %></div>
                            <div class="colone"><%= etude.prestation %></div>
                            <div class="colone"><%= "Nbre Av" %></div>
                            <div class="colone"><%= "JEH" %></div>
                            <div class="colone"><%= etude.budget_HT %></div>
                            <div class="colone"><%= etude.frais_ht %></div>
                            <div class="colone"><%= "Budget Total" %></div>
                        </div>
                <% end %>
            <% end %>
        </div>
    </div>

</div>
